<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header-container">
        <header>
            <h1>NodeJS</h1>
            <div class="header-right-container">
                <a href="/">Home</a>
                <a href="/product">Product</a>
                <a href="/contact">Contact</a>
            </div>
        </header>
    </div>
    <div class="main-container">
        <h2> {{{header}}} </h2>
        <p>Website visited: {{{counter}}} times</p>
    </div>
</body>

</html>